## Recommendation Systems

### Collaborative Filtering

In [1]:
conda install -c  conda-forge scikit-surprise

^C

Note: you may need to restart the kernel to use updated packages.

In [2]:
import surprise

### Accessing the dataset

In [3]:
import numpy as np
import pandas as pd

In [8]:
ratings = pd.read_csv('ratings.csv')
ratings

       userId  movieId  rating   timestamp
0           1        1     4.0   964982703
1           1        3     4.0   964981247
2           1        6     4.0   964982224
3           1       47     5.0   964983815
4           1       50     5.0   964982931
...       ...      ...     ...         ...
65494     420     2617     3.5  1218207873
65495     420     2657     5.0  1218040271
65496     420     2683     4.5  1218207254
65497     420     2700     3.5  1218207549
65498     420     2716     3.5  1218207194

[65499 rows x 4 columns]

In [11]:
# Dropping the unnecessary features

ratings = ratings.drop('timestamp', axis = 1)
ratings

       userId  movieId  rating
0           1        1     4.0
1           1        3     4.0
2           1        6     4.0
3           1       47     5.0
4           1       50     5.0
...       ...      ...     ...
65494     420     2617     3.5
65495     420     2657     5.0
65496     420     2683     4.5
65497     420     2700     3.5
65498     420     2716     3.5

[65499 rows x 3 columns]

In [12]:
# Conducting Data pre-processing using surprise

from surprise import Dataset, Reader, KNNBasic

In [15]:
read = Reader()
read